# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example
terraform/lambda_function.zip

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# エディタ/IDE
.vscode/
.idea/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db

# その他
*.log
.env
